version: '3.8'

services:
  app:
    build: .
    container_name: flask-app
    restart: unless-stopped
    networks:
      - app-network
    expose:
      - "8000"

  nginx:
    image: docker.io/library/nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "1080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
