[project]
name = "python-flask-demo-app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "flask>=3.1.2",
    "gunicorn>=23.0.0",
]

[dependency-groups]
dev = [
    "podman-compose>=1.5.0",
]
